*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    

}
nav{
    display: flex;
    justify-content: center;
}
li{
    display: inline;
    list-style-type: none;
    margin-left: 50px;
}

ul li{
    display: inline-block;
    padding: 30px;
    cursor: pointer;
    font-size: 20px;
}

.part1 h1{
    font-size: 80px;
}
.part1 p{
    margin-top: 40px;
    font-size: 18px;
}
.image{
    float: right;
    width: 30%;
    height: 60px;
    margin-right: 20%;
   
    margin-top: 15%;
}
.menu img{
    width: 200px;
    height: 200px;
    margin-top: 6px;
    
}
.delivery{
    display: none;
}